#map {
    height: 400px;
    width: 100%;
}

.container-fluid {
    background: linear-gradient(#fff6e6, #ffc9e4, #fcc5e8);
    /* background-image: url(/static/img/background.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

body {
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

.form-grid {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 3% 0%;
}

.form {
    /* border: 1px solid gray; */
    background: #fad3e0;
}

.button {
    margin: 25px;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 18px;
    color: rgb(9, 9, 9);
    padding: 10px 10px;
    background-color: rgb(246, 214, 214);
    opacity: 50%;
    border: 2px solid white;
}

.button:hover {
    color: rgb(0, 0, 0);
    border-color: gray;
    background-color: rgb(159, 159, 159);
    opacity: 50%;
}

input[type='email'],
input[type='password'] {
    width: 200px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgb(52, 52, 52);
    outline: none;
    padding: 5px 0px;
    color: black;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%;
    padding: 0 4px;

}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}