#map {
    height: 400px;
    width: 80%;
}

.container-fluid {
    /* background: linear-gradient(#fff6e6, #ffc9e4, #fcc5e8); */
    background-image: url(/static/img/background-blur-lighten.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar-custom-theme {
    background: linear-gradient(to left, #f8f3ef, #dae4eb, #bed4f5);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0;
}

.navbar-custom-theme .nav-link {
    color: #3a3841;
    font-size: 16px;
    font-family: "Josefin Slab", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-custom-theme .nav-link:hover {
    color: white;
}

#nav-home {
    font-weight: 900;
    text-transform: uppercase;
    margin-right: 20px;
    margin-left: 5px;
}

body {
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 80px;
    padding-top: 20px;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 70px;
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 5px;
}

h3 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h4 {
    font-family: "Josefin Slab", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h5 {
    font-family: "Josefin Slab", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

h6 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    margin-top: 25px;
}

p {
    font-family: "Josefin Slab", sans-serif;
    font-size: 20px;
}

.form-grid {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px 0px 5px 0px;
}

.form {
    background: #efe0d6;
    border: 3px solid white;
}

.instructions {
    text-align: left;
    font-size: 22px;
    padding-top: 10px;
    font-family: "Josefin Slab", sans-serif;
    letter-spacing: 1%;
}

.dash {
    background-color: #f5f4f4;
}

.dashboard {
    margin: 15px 0;
    padding: 40px 10px;
    border: 1px solid #bbc0c8;
    /* background-color: rgba(23, 129, 23, 0.03); */
    background: linear-gradient(#f0f1f2, #eef1f4, #f0f1f2);
    background-color: white;
}

.dash-row {
    background-image: url(/static/img/abstract-loop.gif);
    background-size: 50%;
    display: block;
    margin: 0 auto;
}

.dash-border {
    background-image: url(/static/img/color-border.png);
    background-repeat: no-repeat;
    opacity: 0.8;
    height: 40px;
    width: 85%;
    margin: 0 auto;
}

.converter {
    padding: 15px 5px 0px 5px;
    border: 1px solid grey;
}

.tree-img {
    padding-top: 5%;
    padding-bottom: 2%;
    position: relative;
}

.tree-txt {
    position: absolute;
    top: 80%;
    left: 35%;
    color: white;
}

.button {
    margin: 20px;
    display: inline-block;
    font-family: "Josefin Slab", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    color: black;
    padding: 10px 15px;
    background-color: #efe0d6;
    opacity: 90%;
    border: 3px solid white;
}

.button:hover {
    color: white;
    border-color: gray;
    background-color: rgb(159, 159, 159);
    opacity: 90%;
}

option {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #ddc5b5;
    display: block;
}

input[type='email'],
input[type='password'] {
    width: 200px;
    background: transparent;
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-weight: 400;
    border: 0;
    border-bottom: 1px solid rgb(52, 52, 52);
    outline: none;
    padding: 6px 0px;
    color: black;
    text-align: center;
}

input[type='number'] {
    width: 150px;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    border-bottom: 1px solid rgb(52, 52, 52);
    outline: none;
    padding: 10px 0px 2px 0px;
    color: black;
    text-align: center;
}

.chart {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 55px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    padding: 10px 5px;
    width: 100%;
    border-radius: 25px;
}