{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block head %}

<script src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block body %}

<body>
    <h2>Calendar</h2>
    <h5>Heatmap of products purchased throughout the year</h5>

    <!-- Calendar heatmap -->
    <div id="calendar_basic" style="width: 1000px; height: 350px;" class="chart"></div>

    <script src="/static/js/calendarChart.js"></script>

</body>

{% endblock body %}