{% extends 'base.html' %}

{% block title %}User Dashboard{% endblock %}
{% block head %}

{% endblock %}

{% block body %}

<body class="dash">
    <div>
        <h2>Dashboard</h2>

        <!-- React dashboard elements -->
        <div id="dashboard"></div>

        <!-- Divider -->
        <div style="margin: 30px;"></div>

        <!-- Delete account -->
        <div>
            <p>
                <a href="/delete">Click to delete your account</a>
            </p>
        </div>

        <script type="text/jsx" src="/static/js/dashboard.jsx"></script>
        <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js">
        </script>
        <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    </div>
</body>

{% endblock body %}