{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="static/css/style.css" />
<script src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block body %}

<h1>dashboard</h1>

<body>
    <h1>Map</h1>
    <div id="treemap" style="width: 900px; height: 500px;"></div>
    <!-- <div id="linechart_material" style="width: 900px; height: 500px"></div> -->

    <!-- <div id="calendar_basic" style="width: 1000px; height: 350px;"></div> -->

    <!-- <div id="map"></div> -->



    <script src="/static/js/treemap.js"></script>
    <!-- <script src="/static/js/map.js"></script> -->

    <!-- <script src="/static/js/lineChart.js"></script> -->
    <!-- <script src="/static/js/calendarChart.js"></script> -->

    <!-- <script async
        c:\Users\jrdje\AppData\Local\Programs\Microsoft VS Code\resources\app\out\vs\code\electron-sandbox\workbench\workbench.htmlsrc="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxnBOchJLt71xt3TtHKGfTlJQvsmyrWQQ&callback=initMap&v=weekly"
        defer>
        </script> -->
</body>

{% endblock body %}