{% extends 'base.html' %}

{% block title %}Inspiration Page{% endblock %}
{% block head %}

{% endblock %}

{% block body %}

<body>
    <h2>Inspiration</h2>
    <p>Spark your creativity</p>

    <!-- Send search term to Bing Image Search API -->
    <form action="/api/inspiration">
        <label for="search">
            <p>Image Search: </p>
        </label>
        <input type='text' name="search-term" id="search">
        <button type="submit" class="button">Submit</button>
    </form>
    <div id="recent-searches">
        <p>Recent searches:</p>
        {% if searches is defined %}
        {% for term in searches %}
        <button id="search-{{ term }}" onClick=clickWord(name) name="{{ term }}" class="button">
            {{ term }}
        </button>
        {% endfor %}
        {% endif %}
    </div>

    <!-- Display images in grid -->
    <div id="inspiration"></div>
    {% if thumbnail_url1 is defined %}
    <div class="container">
        <div class="row">
            <div class="column col-12 col-md-4">
                <img src="{{ thumbnail_url1 }}">
                <img src="{{ thumbnail_url2 }}">
                <img src="{{ thumbnail_url3 }}">
                <img src="{{ thumbnail_url4 }}">
                <img src="{{ thumbnail_url5 }}">
            </div>
            <div class="column col-12 col-md-4">
                <img src="{{ thumbnail_url6 }}">
                <img src="{{ thumbnail_url7 }}">
                <img src="{{ thumbnail_url8 }}">
                <img src="{{ thumbnail_url9 }}">
                <img src="{{ thumbnail_url10 }}">
            </div>
            <div class="column col-12 col-md-4">
                <img src="{{ thumbnail_url11 }}">
                <img src="{{ thumbnail_url12 }}">
                <img src="{{ thumbnail_url13 }}">
                <img src="{{ thumbnail_url14 }}">
                <img src="{{ thumbnail_url15 }}">
            </div>
        </div>
    </div>
    {% endif %}

    <script src=" /static/js/inspiration.js"></script>
</body>

{% endblock body %}