{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block head %}

<script src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block body %}

<body>
    <h2>Map</h2>

    <div id="map" class="chart"></div> -->

    <div id="treemap" style="width: 900px; height: 500px;" class="chart"></div>


    <script src="/static/js/map.js"></script>
    <script src="/static/js/treemap.js"></script>

    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxnBOchJLt71xt3TtHKGfTlJQvsmyrWQQ&callback=initMap&v=weekly"
        defer>
        </script>
</body>

{% endblock body %}