{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block head %}

<script src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block body %}

<body>
    <h2>Location</h2>
    <div class="container">
        <div class="row">
            <div id="map" class="chart col-12"></div>
        </div>
    </div>

    <div class="tree-img">
        <img src="/static/img/world.jpg" style="height: 550px; width: 100%">
        <p class="tree-txt">Location Treemap<br />Right click to move down the tree. Left click to move up.</p>
    </div>

    <div class="container">
        <div class="row">
            <div id="treemap" style="width: 80%; height: 500px;" class="chart col-12"></div>
        </div>
    </div>


    <script src="/static/js/map.js"></script>
    <script src="/static/js/treemap.js"></script>

    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxnBOchJLt71xt3TtHKGfTlJQvsmyrWQQ&callback=initMap&v=weekly"
        defer>
        </script>
</body>

{% endblock body %}