{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block head %}

<script src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block body %}

<body>
    <h2>Location</h2>

    <div id="map" class="chart"></div>

    <br style="margin-top: 80px;" />

    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="/static/img/treemap.jpg" <p>Location Treemap. Right click to move down the tree. Left click to
                move up.</p>
            </div>
            <div id="treemap" style="width: 900px; height: 500px;" class="chart col-9"></div>
        </div>
    </div>


    <script src="/static/js/map.js"></script>
    <script src="/static/js/treemap.js"></script>

    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxnBOchJLt71xt3TtHKGfTlJQvsmyrWQQ&callback=initMap&v=weekly"
        defer>
        </script>
</body>

{% endblock body %}