{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block head %}

<script src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block body %}

<body>
    <h1>Sales</h1>

    <div id="currency">Currency Converter</div>

    <div id="start-cur">From</div>
    <div id="end-cur">To</div>
    <div id="convert">Convert</div>

    <!-- <div id="linechart-material" style="width: 900px; height: 500px"></div> -->

    <!-- <script src="/static/js/lineChart.js"></script> -->

</body>

{% endblock body %}