{% extends 'base.html' %}

{% block title %}Upload{% endblock %}

{% block body %}
<h2>Instructions for upload</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-12 col-lg-6 instructions">
            <ol>
                <li>Sign into your etsy account</li>
                <li>Click your profile icon in the top right and choose account settings</li>
                <li>Choose Settings > Finance > Download Data</li>
                <li>In the orders tab, choose "Orders" in the dropdown menu and any timeframe</li>
            </ol>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

<!-- User uploads file -->
<form action="/upload" method="POST" enctype=multipart/form-data>
    <p>
        <label for="upload">Upload your file here: </label>
        <input type="file" multiple name="file" id="upload" class="button">
    </p>
    <button type="submit" class="button" onClick=clickSubmit()>Submit</button>
</form>
<div id="status" style="font-family: Josefin Slab, sans-serif; margin-bottom: 10px;"></div>
<div class="dash-border"></div>

<script src="/static/js/upload.js"></script>

{% endblock body%}