{% extends 'base.html' %}

{% block body %}
<h1>Welcome</h1>

<h2>Instructions for upload</h2>
<ol>
    <li>Sign into your etsy account</li>
    <li>Click your profile icon in the top right and choose account settings</li>
    <li>Choose Settings > Finance > Download Data</li>
    <li>In the orders tab, choose "Orders" in the dropdown menu and any timeframe</li>
</ol>

<!-- User uploads one file, send file data -->
<form action="/upload" method="POST" enctype=multipart/form-data>
    <p>
        <label for="upload">Upload your file here: </label>
        <input type="file" multiple name="file" id="upload" class="button">
    </p>
    <button type="submit" class="button">Submit</button>
</form>

{% endblock body%}